[user]
  name = ucod3
  email = youusman.butt@outlook.com

[core]
  excludesfile = ~/.config/git/.gitignore
  editor = nvim

[init]
  defaultBranch = main

[merge]
  tool = nvimdiff

[color]
  ui = auto

[push]
  default = simple